*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    color: #fff;
}

/* configurator COMPONENT */

.conf-component {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,0.2);
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.conf-component-left{
  width: 834px;
  height: 924px;
  /* background: url("../images/v138_125.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.v138_126 {
  width: 500px;
  height: 614px;
  /* background: url("../images/v138_126.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 167px;
  overflow: hidden;
}
.v138_127 {
  width: 491px;
  height: 534px;
  /* background: url("../images/v138_127.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 5px;
  overflow: hidden;
}

.v138_132 {
  width: 834px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v138_133 {
  width: 372px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: Brown;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.conf-panel {
  width: 606px;
  height: 1024px;
  background: rgba(255,255,255,0.2);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 834px;
  overflow: hidden;
}
.conf-panel-wrapper {
  width: 534px;
  height: 582px;
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 63px;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 36px;
  overflow: hidden;
}
.name {
  color: #000000;
}
.name {
  color: #000000;
}
.name {
  color: #000000;
}
.name {
  color: #000000;
}
.name {
  color: #000000;
}
.title {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 36px;
  font-family: Brown;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff00; /* Fully transparent */
    font-family: "Neue Montreal";
    line-height: 110%;
    z-index: 0;
  }
  
  /* nav */
  
  .nav {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .nav > * {
    position: relative;
  }


h1 {
    font-size: 3em;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff00; /* Fully transparent */
    font-family: "Neue Montreal";
    line-height: 140%;
    z-index: 0;
  }
  
  /* nav */
  
  .nav {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .nav > * {
    position: relative;
  }
  
  /* hero */
  
  .product-hero {
    position: absolute;
    bottom: 15vh;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
  
  .product-hero > * {
    position: relative;
  }
  
  .product-hero p {
    font-size: 32px;
    width: 70%;
    margin-bottom: 2em;
    line-height: 100%;
  }
  
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product > * {
    position: relative;
  }
  
  .product-title h1 {
    font-weight: 400;
    font-size: 100px;
    padding: 0.4em 0;
  }
  
  .product-title {
    font-size: 24px;
  }
  
  .product-title span {
    text-decoration: underline;
  }
  
  .product-look {
    position: relative;
  }
  
  .product-look img {
    width: 600px;
  }
  
  @media (max-width: 900px) {
    .product-hero p {
      width: 100%;
      font-size: 20px;
    }
  
    .product-title h1 {
      font-size: 40px;
      line-height: 140%;
      padding: 0;
    }
  
    .product-title {
      font-size: 16px;
    }
  
    .product-look img {
      width: 50vw;
    }
  }
  
  /* overlay */
  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(52, 52, 52, 0.661);
    pointer-events: none;
    opacity: 0;
    filter: blur(10px);
  }
  
  /* footer */
  
  .product-info {
    position: absolute;
    background: #ecebec;
    bottom: 0;
    width: 100%;
    padding: 1em;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-nav,
  .product-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-nav > * {
    margin: 0 1em;
  }
  
  .product-img {
    width: 100px;
  }
  
  .product-img img {
    width: 100%;
  }
  
  .product-name {
    font-size: 24px;
    color:#000
  }
  
  .product-name span {
    font-size: 12px;
    color: #000;
  }
  
  .product-variants {
    border: 1px, solid, #000;
    padding: 0.5em 1em;
    border-radius: 40px;
    font-size: 14px;
    color: #000;
  }
  
  .product-nav-links {
    margin: 0 4em;
  }
  
  .product-nav-links > button {
    background: none;
    border: none;
    outline: none;
    margin: 0 1em;
    cursor: pointer;
  }
  
  .product-btn button {
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    padding: 1.4em 2.8em;
    border-radius: 40px;
    margin-left: 2em;
    font-size: 14px;
    cursor: pointer;
  }
  
  @media (max-width: 900px) {
    .product-name,
    .product-img,
    .product-variants,
    .product-nav-links > button:nth-child(2) {
      display: none;
    }
  
    .product-nav-links {
      margin: 0;
    }
  }
  
  /* product-description */
  
  .product-description {
    position: fixed;
    width: 100%;
    height: 50vh;
    bottom: -50vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) opacity(1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15vh;
    display: flex;
    border-radius: 0.5%;

  }
  
  .close-desc {
    padding: 2em;
    cursor: pointer;
  }
  
  .desc {
    flex: 1;
    padding: 2em;
  }
  
  .link {
    margin: 2em 0;
  }
  
  .link span::after {
    position: relative;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #000;
  }
  
  .front-view,
  .side-view {
    flex: 2;
  }
  
  .view {
    padding: 2em 4em;
  }
  
  .product-description img {
    width: 400px;
  }
  
  .sketch-title span {
    font-weight: 500;
  }
  
  @media (max-width: 900px) {
    .front-view,
    .side-view {
      display: none;
    }
  }